@import './const.styl'
*
	margin 0
	padding 0
	outline none
	box-sizing border-box
	font-family "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑", Courier, monospace
html
body
#app
	height 100%
	background-color $ExtraLightGray
a
	text-decoration none
	color inherit
::-webkit-scrollbar
	width 5px
	height 5px
	background none
::-webkit-scrollbar-track
	border-radius 1px
	background none
::-webkit-scrollbar-thumb
	background $Gray